*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: auto;
    background: rgb(53, 53, 53);
}

form{
    background: rgb(173, 59, 18);
    width: 300px;
    margin: 200px auto;
    border-radius: 10px;
}

form > input{
    margin: 15px 30px;
    width: 80%;
    height: 35px;
    margin: left auto;
    border-radius: 10px;
    text-align: center;
}